body {
    background-color: black;
}

table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 5px solid black;
    border-radius: 50px;
}

#calculator-display{
    background-color: #121212;
    width: 75%;
    text-align: right;

    font: normal 2em Arial, Helvetica, sans-serif;
    color: #fff;

    border: none;
    outline: none;
    padding: 0;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#operator-display{
    width: 25%;
    text-align: center;
    font-size: 2em;
    color: #fff;
    border: 0px;
    background-color: #121212;
}

#display-row{
    background-color: #121212;
}

.digit-button{
    background-color: #2a2a2e;
    color: #f5f5f5;
}

.operator-button{
    background-color: #c96a85;
}

.utility-button{
    background-color: #4bb3c3;
}

#equal-button{
    background-color: #d97796;
}